@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.swiper-pagination-bullet {
  width: 188px !important;
  background-color: transparent !important;
  justify-self: start;
  height: 16px !important;
 padding-left: 0;
}
.swiper-pagination-bullet-active {
  background-color: transparent !important;
  width: 188px !important;
  height: 16px !important;
  position: relative;
  padding-left: 16px;
}

.swiper-pagination-bullet-active::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: white;
  rotate: 45deg;
  position: absolute;
  top: 8px;
  left: 0;
}

.swiper-pagination {
  position: absolute;
  top: 420px !important;
  text-align: start !important; 
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    top: 118px !important;
    left: 483px !important;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-pagination {
    top: 136px !important;
    left: 640px !important;
  }
}
